<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="SqlConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Server=localhost;Database=zeus;Trusted_connection=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>